@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');

/*content center start */
* {
    box-sizing: border-box;
}

body {
    font-family: 'Nanum Pen Script', cursive, 'sans-serif';
    background-color: #f9fafb;
    text-align: center;
}

.container {
    display: inline-block;
    text-align: center;
    margin: 0 auto;
}
/*content center end */


/* List Title start */
.container .title {
    display: block;
}

.title h2 {
    font-size: 150px;
    margin: 5px 0 35px 0; 
}

.container .form-container {
    margin-top: 20px;
}
/* List Title end */



/* List Add ToDo start */
.form-container .form-add {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    border-bottom: 2px solid gray;
}

.form-add input {
    margin-right: 15px; 
    width: 100%;
    height: 45px;
    font-size: 30px;
    border: none;
    background-color: #f9fafb;
    outline: none;
    font-family: 'Nanum Pen Script', cursive, 'sans-serif';
}

.form-add .input-button {
    display: block;

}

.input-button .add-todo {
    text-decoration: none;
    display: block;
}

.input-button i {
    height: max-content;
    color: #ced6e0;
    transition-duration: 0.25s;
}

.input-button i:hover {
    color:#8395a7;
}
/* List Add ToDo end */

/* List Items start */

.container .todo-list {
    margin-top: 45px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 20px;
}

.todo-list .list-set {
    margin: 0;
    padding: 0;
    list-style: none;
    height: 220px;
    overflow: auto;
}

.list-set li {
    user-select: none;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.list-set li i {
    color: #ced6e0;
    font-size: 20px;
    cursor: pointer;
    padding: 5px 10px;
    transition-duration: 0.25s;
}

.list-set li i:hover {
    color: #8395a7
}

.todo-list input[type="checkbox"] {
    display: none;
}

.todo-list input[type="checkbox"] + label {
    color: #6c717b;
    font-size: 25px;
    cursor: pointer;
    position: relative;
    border-radius: 3px;
    display: inline-block;
    padding: 5px 5px 5px 30px;
}

.todo-list input[type="checkbox"] + label:hover {
    color: #353a42;
    background-color: #dfe4ea;
    border-radius: 15px;
    transition-duration: 0.15s;
}

.todo-list input[type="checkbox"] + label span.check{
    position: absolute;
    left: 5px;
    top: 25%;
    width: 18px;
    height: 18px;
    display: block;
    background: #f9fafb;
    border-radius: 2px;
    border: 1px solid #b8bfcc;
    box-shadow: 0 2px 3px #f0f4f8;
}

.todo-list input[type="checkbox"]:checked + label {
    color: #aeb7c6;
    text-decoration: line-through;
}

.todo-list input[type="checkbox"]:checked + label span.check {
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
}

.todo-list input[type="checkbox"]:checked + label span.check::after {
   content: "\2714";
   display: block;
   position: absolute;
   width: 100%;
   height: 100%;
   background-position: center;
   bottom: 10px;
   color: #353b48;
}

/* List Items end */







